/*
Colores:
main: #758E92
oscuro azul: #314345
claro rosa: #9F6F86
oscuro marron: #5F5C43;
claro amarillo: #DED9A7;
*/
body{
	font-family: 'Open Sans', sans-serif;
	background: url(../images/bkg.png) repeat 0px 0px #F0EFEE;
}
.wrapper{
	width: 100%;
}
/*---start-header----*/
.header{
	background: url(../images/border.png) repeat-x 0px 0px #FFF;
	padding: 20px 0 15px;
	border-bottom: 1px solid rgba(214, 213, 212, 0.64);
	position: relative;
	width: 100%;
	margin: 0;
	height: 90px;
}
.headerwrapper {
	position: relative;
	width: 980px;
	margin: 0 auto;
	height: 90px;
}
.logo{
	float:left;
}
.logo img{
	display:inline-block;
	margin: 0 25px 0 25px;
}
.nav-icon{
	float: left;
	margin: 8px 5px 0 10px;
	width: 160px;
  height: 42px;
  border: 1px solid black;
}
.nav-icon a {
	display:block;
  color: #363636;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 100%;
  line-height: 42px;
}
.nav-icon a:hover {
  background-color: #758E92;
  color: #DED9A7;
}
.top-searchbar {
	float: left;
	width: 275px;
	position: relative;
	margin: 0px 25px 0 25px;
}
.top-searchbar input[type="text"]{
	margin-top: 8px;
	width: 100%;
	padding: 10px 16px;
	border: 1px solid #E7E7E7;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	color:#777;
	position:relative;
}
.top-searchbar input[type="text"]{
	background:#F7F6F6;
}
.top-searchbar input[type="text"]:hover{
	border:1px solid #DDDDDD;
}
.top-searchbar input[type="submit"]{
	position: absolute;
	background: url(../images/search-icon.png) no-repeat 0px 0px;
	height: 26px;
	width: 26px;
	display: inline-block;
	border: none;
	top: 17px;
	right: -22px;
	outline:none;
	cursor:pointer;
}
.box{
	width: 980px;
	color:#7F7F7F;
	margin: 0 auto;
	padding: 0px;
	text-align:center;
	float: left;
 }
.box ul {
	padding: 0;
	margin: 10px auto 0;
}
.box ul li {
	display: inline-block;
}
.box li a{
	display: block;
	color: #363636;
	font-size: 15px;
	margin: 6px 27px;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
}
.box li a.publicar{
  color: #9F6F86;
}
.box li a:hover{
	color: #758e92;
}
.box li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}

/*--userinfo--*/
.userinfo {
	float: right;
  margin: 8px 5px 0 10px;
  width: 80px;
  height: 42px;
  border: 1px solid black;
}
.userinfo a {
  display:block;
  color: #363636;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 100%;
  line-height: 21px;
}
.userinfo a:hover {
  background-color: #758E92;
  color: #DED9A7;
}

.content-home {
	width: 980px;
	margin: 0 auto;
  min-height: 500px;
}
.content-contacto {
  width: 980px;
  margin: 0 auto;

}
.content-buscar {
  width: 980px;
  margin: 0 auto;
}
.contentb {
  width: 980px;
  margin: 0 auto;
  min-height: 300px;
}

/**
 * Grid container
 */
#main {}
#container {float:left;}
#container h1{
  color: #363636;
  font-size: 32px;
  margin: 20px 0px 10px 0px;
  font-weight: 600;
  text-decoration: none;
}
#container h2{
  color: #363636;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
#container h2 a{
  color: #363636;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
#container h3{
  color: #363636;
  font-size: 23px;
  font-weight: 600;
  text-decoration: none;
}
#container h3 a{
  color: #363636;
  font-size: 23px;
  font-weight: 600;
  text-decoration: none;
}
#container h3 a:hover{
  text-decoration: none;
  color: #758e92;
}
#container h4{
  color: #363636;
  font-size: 22px;
  margin: 25px 0px 10px 0px;
  font-weight: 600;
  text-decoration: none;
}
#container p{
  color: #363636;
  font-size: 16px;
  text-decoration: none;
}
#container p a{
  color: #363636;
  font-size: 27px;
  text-decoration: none;
  padding: 5px 10px 10px;
  /*-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;*/
}
#container p a:hover{
  color: #fff;
  background-color: #363636;
}
#container p a.common{
  font-size: 16px;
  text-decoration: none;
  padding: 0;
}
#container p.itemtext {
  color: #363636;
  margin: 13px 13px 13px 0px;
  font-size: 16px;
  float: left;
  width: 800px;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
}
#container .form_errors{
  background-color: #9F6F86;
}
#container .form_errors p{
  color: #9F6F86;
  font-size: 12px;
  float: left;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
  width: 100%;
  margin: 10px 0 0 0;
}

.item-row {
  width: 100%;
  height: 240px;
  float: left;
}
.item-row-banner {
  width: 100%;
  height: 300px;
  margin: 20px 0;
  float: left;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.item-row-banner a{
  text-indent: -9999px;
  width: 980px;
  height: 300px;
  background: url(../images/banner.jpg) no-repeat 0px 0px;
  display: block;
}
.item-row-banner a:hover{
  background-position: 0 -300px;
}
.item {
 	width: 227px;
  height: 220px;
	background-color: #ffffff;
	border: 1px solid #aaa;
	text-decoration: none;
	margin: 10px 8px;
  float: left;
  display: block;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  position: relative;
}
.item:hover {
  background-color: #758E92;
  color: #fff !important;
}
.item:hover p{
  display: block;
  color: #fff !important;
}
.item:hover h2{
  color: #fff !important;
}
.item .img {
	margin: 13px;
  border: 2px solid #ccc;
  width: 197px;
  height: 150px;
  background-size: cover;
  background-position: center;
}
.item h2 {
	color: #363636;
	font-size: 15px;
	margin: 0px 13px 0px 13px;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}
.item p {
  color: #363636;
  margin: 0px 0 5px 0;
  font-size: 10px !important;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  display: none;
}
.item-row-big {
  width: 100%;
  height: 170px;
  float: left;
}
.item-big {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  border: 1px solid #aaa;
  text-decoration: none;
  margin: 10px 8px;
  float: left;
  display: block;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  position: relative;
}
.item-big:hover {
  background-color: #758E92;
  color: #DED9A7 !important;
}
.item-big:hover p{
  color: #DED9A7 !important;
}
.item-big:hover h2{
  color: #DED9A7 !important;
}
.item-big .img {
  width: 120px;
  margin: 13px;
  border: 2px solid #ccc;
  float: left;
  height: 100px;
  background-size: cover;
  background-position: center;
}
.item-big h2 {
  color: #363636;
  font-size: 15px;
  margin: 13px 13px 0px 13px;
  font-weight: 900;
  float: left;
  width: 800px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
}
.item-big p {
  color: #363636;
  margin: 13px 13px 5px 13px;
  font-size: 12px !important;
  float: left;
  width: 800px;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
}

.item-big p.codigo {
  color: #363636;
  margin: 0px 13px 5px 0;
  font-size: 10px;
  position: absolute;
  width: 200px;
  right: 13px;
  bottom: 10px;
  font-weight: 500;
  text-decoration: none;
  text-align: right;
}

.item-images {
  width: 100%;
  height: 320px;
  float: left;
  text-align: center;
}
.item-images img {
  width: 300px;
  height: 300px;
  border: 2px solid #ccc;
}

.mispublicaciones-item {
  width: 100%;
  height: 150px;
  background-color: #ddd;
  border: 1px solid #aaa;
  text-decoration: none;
  margin: 10px 8px 10px 0;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  position: relative;
}
.mispublicaciones-item.activo {
  background-color: #ffffff;
}

.mispublicaciones-item .img{
  margin: 13px;
  border: 2px solid #ccc;
  width: 150px;
  height: 120px;
  background-size: cover;
  background-position: center;
  float: left;
}
.mispublicaciones-item .texto{
  margin: 13px;
  width: 600px;
  height: 120px;
  float: left;
}
.mispublicaciones-item h2 {
  color: #363636;
  font-size: 15px;
  margin: 0px 13px 0px 13px;
  font-weight: 900;
  float: left;
  width: 600px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
}
.mispublicaciones-item p {
  color: #363636;
  margin: 13px 13px 5px 13px;
  font-size: 12px !important;
  float: left;
  width: 600px;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
}
.mispublicaciones-item .opciones{
  margin: 13px;
  width: 120px;
  height: 120px;
  float: left;
}
.mispublicaciones-item .opciones p {
  margin: 0px 13px 11px 0px;
  width: 120px;
}
#container .mispublicaciones-item .opciones p a{
  color: #363636;
  font-size: 16px;
  text-decoration: none;
  padding: 6px 10px;
}
#container .mispublicaciones-item .opciones p a:hover{
  color: #fff;
  background-color: #363636;
}
html, body {
  height: 100%;
  overflow-x: hidden;
}
.jsc-sidebar {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  display: none;
}

.jsc-sidebar-content {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 10;
  background: url(../images/bkg.png) repeat 0px 0px #F0EFEE;
}

.jsc-sidebar-pulled {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }

.jsc-sidebar-pushed {
  -webkit-transform: translate3d(220px, 0, 0);
  -moz-transform: translate3d(220px, 0, 0);
  -ms-transform: translate3d(220px, 0, 0);
  -o-transform: translate3d(220px, 0, 0);
  transform: translate3d(220px, 0, 0); }

.jsc-sidebar-scroll-disabled {
  position: fixed;
  overflow: hidden; }

.sidebar {
  background-color: #314345;
}
.sidebar ul{
  padding: 0;
  margin: 0;
}
.sidebar li {
  border-top: 1px solid #5F5C43;
}
.sidebar li a {
  padding: 5px 5px;
  display: block;
  color: #DED9A7;
  text-decoration: none;
}
.sidebar li a:hover {
  background-color: #758E92;
  color: #DED9A7;
  box-shadow: 0px -2px 3px rgba(0,0,0,0.6) inset;
}
.sidebar li .current {
  background-color: #9F6F86;
  color: #DED9A7;
}
.footer{
  display: none;
  padding: 20px 0 15px;
  border-top: 2px solid rgba(214, 213, 212, 0.64);
  background-color: #fff;
  position: relative;
  width: 100%;
  margin: 0;
  height: 90px;
}
.footerwrapper {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 90px;
}
.footer .logo{
  text-align: center;
  width: 100%;
}
.footer .logo img{
  display:inline-block;
  margin: 0 auto;
}
.footer p{
  color: #363636;
  font-size: 10px;
  width: 100%;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}
.footer p a{
  color: #363636;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
}
.footer p a:hover{
  text-decoration: underline;
}
.completefooter {
  width: 100%;

  background: #fff;
  position: fixed;
  overflow: hidden;
  overflow-x :hidden;
  overflow-y: hidden;
}

#container form {
  width: 100%;
}
#container form label {
  width: 300px;
  float: left;
  line-height: 35px;
  text-align: right;
  margin: 0 20px 0 0;
}
#container form input[type=text], #container form input[type=password] {
  height: 30px;
  margin: 0 0 5px 0;
  width: 390px;
  padding-left: 10px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
}
#container form input:focus{
  border: 5px solid #758E92;
  outline: none;
}
#container form select {
  height: 41px;
  margin: 0 0 5px 0;
  width: 411px;
  padding-left: 10px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
}
#container form select:focus{
  border: 5px solid #758E92;
  outline: none;
}
#container form textarea {
  height: 100px;
  margin: 0 0 5px 0;
  width: 390px;
  padding-left: 10px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
}
#container form textarea:focus{
  border: 5px solid #758E92;
  outline: none;
}
#container form input[type=checkbox] {
  height: 20px;
  margin: 0 0 5px 0;
  width: 20px;
  margin: 0 5px 0 20px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
}
#container form input[type=checkbox]:focus{
  border: 5px solid #758E92;
  outline: none;
}
#container form .checkboxwrapper {
  float: left;
  width: 100%;
}
#container form .checkboxwrapper p {
  float: left;
  margin-top: 0;
}

#container span.form-check-text{
  color: #363636;
  font-size: 12px;
  text-align: left;
  margin: 0px 0px 0px 0px;
  width: 200px;
  vertical-align: super;
}
#container form input[type=submit] {
  float: left;
  width: 100px;
  height: 50px;
  background-color: #758E92;
  color: #DED9A7;
  margin: 20px 249px 20px 631px;
  border: 0;
}
#container form input[type=submit]:hover {
  background-color: #9F6F86;
  color: #DED9A7;
}
#container p.form-bottom-link{
  color: #363636;
  font-size: 16px;
  text-align: right;
  margin: 20px 249px 20px 0px;
}
#container form .info {
  border-left: 1px solid #363636;
  float: right;
  width: 220px;
  padding: 0px 0 0px 10px;
  height: 34px;
  color: #363636;
  font-size: 12px;
  margin: 4px 0 0 0;
  opacity: 0.5;
}

/*
    Common
*/

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}
.wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
}
.wizard.vertical > .steps {
    display: inline;
    float: left;
    width: 30%;
}
.wizard > .steps > ul > li {
    width: 25%;
}
.wizard > .steps > ul > li,
.wizard > .actions > ul > li {
    float: left;
}
.wizard.vertical > .steps > ul > li {
    float: none;
    width: 100%;
}

.wizard > .steps a {
    display: block;
    width: auto;
    margin: 0 20px 10px 0;
    padding: 15px 5px 15px 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    background: #F0EFEE;
    color: #aaa;
    cursor: hand;
}
.wizard > .steps a:hover,
.wizard > .steps a:active{
background: #DED9A7;
color: #5F5C43;
}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #F0EFEE;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #758E92;
    color: #DED9A7;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #DED9A7;
    color: #5F5C43;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #9F6F86;
    color: #DED9A7;
}

.wizard > .content
{
    background: #eee;
    display: block;
    margin: 0.5em;
    /*min-height: 35em;*/
    overflow: hidden;
    /*position: relative;
    width: auto;*/

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;

}

.wizard > .actions a {
    display: block;
    text-decoration: none;
    padding: 15px;
    float: left;
    width: 140px;
    height: 25px;
    background-color: #758E92;
    text-align: center;
    color: #DED9A7;
    margin: 10px 0 10px;
    border: 0;

}
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background-color: #9F6F86;
    color: #DED9A7;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

form #wizard .rowform {
  width: 100%;
  height: auto;
  float: left;
}

form #wizard label {
  width: 120px;
  float: left;
  line-height: 35px;
  text-align: right;
  margin: 0 20px 0 0;
}
form #wizard input[type=text],form #wizard input[type=password], form #wizard input[type=file] {
  height: 30px;
  margin: 0 0 5px 0;
  width: 200px;
  float: left;
  padding-left: 10px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
}
#container form input[type=file] {
  width: 400px;
}
form #wizard input:focus{
  border: 5px solid #758E92;
  outline: none;
}
form #wizard input.error {
  background-color: #9F6F86;
  color: #DED9A7;
}
form #wizard select {
  height: 41px;
  margin: 0 0 5px 0;
  width: 220px;
  padding-left: 10px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
}
form #wizard select:focus{
  border: 5px solid #758E92;
  outline: none;
}
form #wizard textarea {
  height: 100px;
  margin: 0 0 5px 0;
  width: 198px;
  padding-left: 10px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
}
form #wizard textarea:focus{
  border: 5px solid #758E92;
  outline: none;
}
form #wizard input[type=checkbox] {
  height: 20px;
  margin: 0 0 5px 0;
  width: 20px;
  margin: 0 5px 0 20px;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.5);
}
form #wizard input[type=checkbox]:focus{
  border: 5px solid #758E92;
  outline: none;
}
form #wizard .checkboxwrapper {
  float: left;
  width: 100%;
}
form #wizard .checkboxwrapper p {
  float: left;
  margin-top: 0;
}

form #wizard span.form-check-text{
  color: #363636;
  font-size: 12px;
  text-align: left;
  margin: 0px 0px 0px 0px;
  width: 200px;
  vertical-align: super;
}
form #wizard input[type=submit] {
  float: left;
  width: 100px;
  height: 50px;
  background-color: #758E92;
  color: #DED9A7;
  margin: 20px 249px 20px 631px;
  border: 0;
}
form #wizard input[type=submit]:hover {
  background-color: #9F6F86;
  color: #DED9A7;
}
form #wizard p.form-bottom-link{
  color: #363636;
  font-size: 16px;
  text-align: right;
  margin: 20px 249px 20px 0px;
}
form #wizard .info {
  border-left: 1px solid #363636;
  float: right;
  width: 220px;
  padding: 0px 0 0px 10px;
  height: 35px;
  color: #363636;
  font-size: 12px;
  margin: 6px 0 6px 0;
  opacity: 0.5;
}
#wizard section h4{
  margin: 0px 0px 20px 0px;
}
.label {
  background-color: #314345;
  color: #DED9A7;
}
.wrappreview {
  width: 200px;
  float: left;
  margin: 0 10px 10px 0px;
}
.preview{
  width:200px;
  margin: 0 10px 0 0;
  border: 1px solid #363636;
}
.wrappreview p{
  width: 200px;
  margin: 0px 5px 10px;
  text-decoration: none;
  font-size:12px !important;
  background-color: #363636;
  color: #DED9A7 !important;
  text-align: center;
}
.wrappreview a{
  width: 200px;
  margin: 5px 5px 10px;
  text-decoration: none;
  color: #363636;
}
.wrappreview a:hover{
  text-decoration: underline;
}
#preview{
  color:#cc0000;
  font-size:12px;
  float: left;
  width: 100%;
  margin: 25px 0 0 0 ;
}
.wrapbutton {
  width: 100%;
  height: 50px;
  margin: 20px 0;
}
a.button {
  float: left;
  width: 150px;
  height: 37px;
  background-color: #758E92;
  color: #DED9A7;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  padding: 13px 0 0 0px;
  text-align: center;
}
a.button:hover {
  background-color: #9F6F86;
  color: #DED9A7;
}
.images-detail {
  width: 100%;
  float: left;
}
.imgdetail {
  margin: 13px;
  border: 2px solid #ccc;
  width: 197px;
  height: 150px;
  background-size: cover;
  background-position: center;
  float: left;
}
